html{
    
    color: white; 
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  
  header a{
    color: whitesmoke;
     border: solid 1px gray;
  }

  header a:hover{
    color: whitesmoke;
    text-decoration: none;
  }
  
  .links{
      display:grid;
      grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  }
  
  li{
      list-style:none;
      
  }
   a{
    color: whitesmoke;
    background: black;
    padding:5px;
    border-radius:5px;
    text-decoration: none;
      
  }
  
  a:hover{
      padding:7px;
      transition:.7s ease-in-out;
  }

  .form{
    position: relative;
    left:1400px;
  }

